* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  background-color: aqua;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: auto 3fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "header__logo header__titulo header__nav"; }
  header .header__logo {
    grid-area: header__logo;
    width: 7.5rem;
    background-color: white; }
  header .header__titulo {
    padding-left: 2rem;
    background-color: white;
    grid-area: header__titulo;
    height: 100%;
    text-align: left;
    padding-top: 2rem; }
    header .header__titulo .secretaria {
      font-size: 30px;
      font-weight: 900; }
    header .header__titulo .olimpiadas {
      font-size: 20px;
      font-weight: 700; }
  header .header__nav {
    font-size: 15px;
    font-weight: 700;
    grid-area: header__nav;
    background-color: white; }
    header .header__nav .header__menu .header__menu-item .header__menu-link {
      color: #0096DA;
      transition: 100ms; }
      header .header__nav .header__menu .header__menu-item .header__menu-link:hover {
        color: white;
        display: inline-block;
        padding: 10px 20px;
        background-color: #006794;
        border: none;
        border-radius: 50px; }
    header .header__nav .header__menu .header__menu-item .header__menu-subitem {
      color: #0096DA;
      cursor: pointer;
      padding-left: 10px;
      position: relative; }
    header .header__nav .header__menu .header__menu-item .header__menu-subitem::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #0096DA;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 300ms ease-in; }
    header .header__nav .header__menu .header__menu-item .header__menu-subitem:hover::after {
      transform: scaleX(1);
      transform-origin: left; }

@media screen and (min-width: 576px) and (max-width: 1023px) {
  header {
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "header__logo header__titulo" "header__nav header__nav"; }
    header .header__titulo {
      text-align: center; } }

@media screen and (max-width: 576px) {
  header {
    padding-top: 2rem;
    grid-template-columns: 1fr 140px;
    grid-template-areas: "header__nav header__logo "; }
    header .header__titulo {
      display: none; }
    header .header__logo {
      padding-right: 2rem; }
    header .header__nav {
      padding-left: 2rem; }
      header .header__nav .navbar-toggler-icon {
        width: 3rem;
        height: 3rem; } }

footer {
  width: 100%;
  flex-shrink: 0;
  width: 100%;
  background-color: #006794;
  padding: 10px;
  color: #fff;
  text-align: center;
  line-height: 1;
  grid-area: footer; }

main {
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  grid-area: main; }
  main section {
    background-color: black; }
    main section article h2 {
      padding: 1rem; }
    main section article p {
      padding-left: 1rem; }
