* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer"; }

html {
  width: 100%; }

header {
  grid-area: header;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-areas: "header__logo header__titulo header__nav"; }
  header .header__logo {
    grid-area: header__logo;
    margin-top: 0.5rem;
    width: 7.5rem;
    background-color: white; }
  header .header__titulo {
    padding-left: 2rem;
    background-color: white;
    grid-area: header__titulo;
    height: 100%;
    text-align: left;
    padding-top: 2rem; }
    header .header__titulo .secretaria {
      font-size: 2rem;
      font-weight: 600; }
    header .header__titulo .olimpiadas {
      font-size: 1.5rem;
      font-weight: 500; }
  header .header__nav {
    font-size: 15px;
    font-weight: 700;
    grid-area: header__nav;
    background-color: white; }
    header .header__nav .header__menu .header__menu-item .header__menu-link {
      color: #0096DA;
      transition: 100ms; }
      header .header__nav .header__menu .header__menu-item .header__menu-link:hover {
        color: white;
        display: inline-block;
        padding: 10px 20px;
        background-color: #006794;
        border: none;
        border-radius: 50px; }
    header .header__nav .header__menu .header__menu-item .header__menu-subitem {
      color: #0096DA;
      cursor: pointer;
      padding-left: 10px;
      position: relative; }
    header .header__nav .header__menu .header__menu-item .header__menu-subitem::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #0096DA;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 300ms ease-in; }
    header .header__nav .header__menu .header__menu-item .header__menu-subitem:hover::after {
      transform: scaleX(1);
      transform-origin: left; }

@media screen and (min-width: 767px) and (max-width: 1263px) {
  header {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "header__logo header__titulo" "header__nav header__nav"; }
    header .header__titulo {
      text-align: center; } }

@media screen and (max-width: 767px) {
  header {
    padding-top: 2rem;
    grid-template-columns: 1fr auto;
    grid-template-areas: "header__nav header__logo"; }
    header .header__titulo {
      display: none; }
    header .header__logo {
      width: 120px;
      margin-top: 0; }
    header .header__nav {
      font-size: 1.3rem;
      margin-left: 2rem; }
      header .header__nav .navbar-toggler-icon {
        width: 3rem;
        height: 3rem; }
      header .header__nav .header__menu .header__menu-item .header__menu-subitem {
        font-size: 1.4rem; } }

footer {
  /*width: 100%;*/
  background-color: #006794;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
  line-height: 1;
  grid-area: footer; }

.main__index {
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  grid-area: main; }
  .main__index section article {
    padding: 2rem; }
    .main__index section article iframe {
      height: 30vw;
      width: 50vw; }
  .main__index .main__iconos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 2fr 2fr;
    grid-template-areas: "main__iconos-titulo main__iconos-titulo main__iconos-titulo main__iconos-titulo"  "main__iconos-logomateclubes main__iconos-logonandu main__iconos-logolym main__iconos-logotorngeoeimag"  "main__iconos-logointernacionales main__iconos-logoolimmayo main__iconos-logocanguro main__iconos-logoolimpri"; }
    .main__index .main__iconos a img {
      width: 200px; }
    .main__index .main__iconos .main__iconos-titulo {
      grid-area: main__iconos-titulo; }
    .main__index .main__iconos .main__iconos-logomateclubes {
      grid-area: main__iconos-logomateclubes; }
    .main__index .main__iconos .main__iconos-logonandu {
      grid-area: main__iconos-logonandu; }
    .main__index .main__iconos .main__iconos-logolym {
      grid-area: main__iconos-logolym; }
    .main__index .main__iconos .main__iconos-logotorngeoeimag {
      grid-area: main__iconos-logotorngeoeimag; }
    .main__index .main__iconos .main__iconos-logointernacionales {
      grid-area: main__iconos-logointernacionales; }
    .main__index .main__iconos .main__iconos-logoolimmayo {
      grid-area: main__iconos-logoolimmayo; }
    .main__index .main__iconos .main__iconos-logocanguro {
      grid-area: main__iconos-logocanguro; }
    .main__index .main__iconos .main__iconos-logoolimpri {
      grid-area: main__iconos-logoolimpri; }

@media screen and (max-width: 800px) {
  .main__index .main__iconos {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(2, 1fr);
    grid-template-areas: "main__iconos-titulo main__iconos-titulo main__iconos-titulo main__iconos-titulo"  "main__iconos-logomateclubes main__iconos-logonandu main__iconos-logolym main__iconos-logotorngeoeimag"  "main__iconos-logointernacionales main__iconos-logoolimmayo main__iconos-logocanguro main__iconos-logoolimpri"; }
    .main__index .main__iconos a img {
      width: 130px; } }

@media screen and (max-width: 550px) {
  .main__index .main__iconos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(4, 1fr);
    grid-template-areas: "main__iconos-titulo main__iconos-titulo"  "main__iconos-logomateclubes main__iconos-logonandu"  "main__iconos-logolym main__iconos-logotorngeoeimag"  "main__iconos-logointernacionales main__iconos-logoolimmayo"  "main__iconos-logocanguro main__iconos-logoolimpri"; }
    .main__index .main__iconos a img {
      width: 170px; } }

@media screen and (max-width: 349px) {
  .main__index .main__iconos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(4, 2fr);
    grid-template-areas: "main__iconos-titulo main__iconos-titulo"  "main__iconos-logomateclubes main__iconos-logonandu"  "main__iconos-logolym main__iconos-logotorngeoeimag"  "main__iconos-logointernacionales main__iconos-logoolimmayo"  "main__iconos-logocanguro main__iconos-logoolimpri"; }
    .main__index .main__iconos a img {
      width: 145px; } }

.main__competencias {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main__competencias .main__section-competencia {
    margin-top: 7rem;
    display: flex;
    text-align: center;
    align-items: center; }
    .main__competencias .main__section-competencia img {
      width: 20rem; }
    .main__competencias .main__section-competencia .main__section_titulo-descripcion {
      display: flex;
      flex-direction: column; }
      .main__competencias .main__section-competencia .main__section_titulo-descripcion h2 {
        width: 30rem; }
      .main__competencias .main__section-competencia .main__section_titulo-descripcion p {
        width: 30rem; }
      .main__competencias .main__section-competencia .main__section_titulo-descripcion .btn {
        display: block;
        margin-top: 10px; }
        .main__competencias .main__section-competencia .main__section_titulo-descripcion .btn a {
          text-decoration: none;
          color: white; }
  .main__competencias .main__section-competencia:first-child {
    margin-top: 2rem; }
  .main__competencias .main__section-competencia:last-child {
    margin-bottom: 3rem; }

@media screen and (min-width: 992px) and (max-width: 1263px) {
  .main__competencias {
    margin-left: -12rem; } }

@media screen and (min-width: 870px) and (max-width: 991px) {
  .main__competencias {
    margin-left: -5rem; } }

@media screen and (max-width: 869px) {
  .main__competencias .main__section-competencia {
    flex-direction: column; } }

@media screen and (max-width: 540px) {
  .main__competencias .main__section-competencia .main__section_titulo-descripcion {
    align-items: center; }
    .main__competencias .main__section-competencia .main__section_titulo-descripcion h2 {
      max-width: 90vw; }
    .main__competencias .main__section-competencia .main__section_titulo-descripcion p {
      max-width: 80vw; }
    .main__competencias .main__section-competencia .main__section_titulo-descripcion .btn {
      width: 70vw; } }

@media screen and (max-width: 540px) {
  .main__competencias .main__section-competencia {
    flex-direction: column; }
    .main__competencias .main__section-competencia img {
      width: 50vw; }
    .main__competencias .main__section-competencia .main__section_titulo-descripcion {
      align-items: center; }
      .main__competencias .main__section-competencia .main__section_titulo-descripcion h2 {
        max-width: 90vw; }
      .main__competencias .main__section-competencia .main__section_titulo-descripcion p {
        max-width: 80vw; }
      .main__competencias .main__section-competencia .main__section_titulo-descripcion .btn {
        width: 70vw; } }

.main__queesoma {
  display: grid;
  gap: 1rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }
  .main__queesoma section {
    padding: 10px;
    border: 3px solid gray; }
