/* Ir Arriba */
.go-top-container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4.6rem;
    height: 4.6rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: 0.2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup 0.3s ease-in-out;
    width: 4.6rem;
    height: 4.6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}


@media screen and (max-width: 576px) {
    /* Ir Arriba */

    .go-top-container {
        bottom: 1rem;
        right: 1rem;
        width: 3rem;
        height: 3rem;
    }

    .go-top-button {
        top: 50%;
        left: 50%;
    }

    .go-top-button i {
        font-size: 1rem;
        top: 48%;
        left: 50%;
    }

    .show .go-top-button {
        width: 3rem;
        height: 3rem;
    }

    .show i {
        transform: translate(-50%, -50%) scale(1);
    }
}