footer {
    width: 100%;
    flex-shrink: 0;
    width: 100%;
    background-color: $FondoAzul;
    padding: 10px;
    color: #fff;
    text-align: center;
    line-height: 1;
    grid-area: footer;

}
