header {
    grid-area: header;
    font-family: 'Montserrat', sans-serif;

    display: grid;
    grid-template-columns: auto 3fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header__logo header__titulo header__nav";
    flex-wrap: wrap;

    .header__logo {
        grid-area: header__logo;
        width: 120px;
        background-color: white;
    }

    .header__titulo {
        padding-left: 30px;
        background-color: white;
        grid-area: header__titulo;
        height: 100%;
        text-align: left;
        padding-top: 30px;

        .secretaria {
            font-size: 30px;
            font-weight: 900;
        }

        .olimpiadas {
            font-size: 20px;
            font-weight: 700;
        }
    }

    .header__nav {
        font-size: 15px;
        font-weight: 700;
        grid-area: header__nav;
        background-color: white;

        .header__menu {
            .header__menu-item {
                .header__menu-link {
                    color: $LetraAzul;
                    transition: 100ms;

                    &:hover {
                        color: white;
                        display: inline-block;
                        padding: 10px 20px;
                        background-color: $FondoAzul;
                        border: none;
                        border-radius: 50px;
                    }
                }

                .header__menu-subitem {
                    color: $LetraAzul;
                    cursor: pointer;
                    padding-left: 10px;
                    position: relative;
                }

                .header__menu-subitem::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $LetraAzul;

                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 300ms ease-in;
                }

                .header__menu-subitem:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "header__logo header__titulo"
            "header__nav header__nav";

        .header__titulo {
            padding-right: 150px;
            text-align: center;
        }
    }
}


@media screen and (max-width: 768px) {

    header {
        padding-top: 30px;
        grid-template-columns: 1fr 140px;
        grid-template-areas:
            "header__nav header__logo ";

        .header__titulo {
            display: none;
        }

        .header__logo{
            margin-right: 30px;
        }

        .header__nav {
            padding-left: 30px;
            .navbar-toggler-icon {
                width: 50px;
                height: 50px;
            }
        }
    }
}