/* Estilos del encabezado */
.header__desktop, .header__mobile{
    grid-area: header;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-areas:
        "header__logo header__titulo header__nav";

    /* Estilos del logo en el encabezado */
    .header__logo {
        grid-area: header__logo;
        margin-top: 0.5rem;
        width: 7.5rem;
        background-color: white;
    }

    /* Estilos del título en el encabezado */
    .header__titulo {
        padding-left: 2rem;
        background-color: white;
        grid-area: header__titulo;
        height: 100%;
        text-align: left;
        padding-top: 2rem;

        /* Estilos de la clase "secretaria" dentro del título */
        .secretaria {
            font-size: 2rem;
            font-weight: 600;
        }

        /* Estilos de la clase "olimpiadas" dentro del título */
        .olimpiadas {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    /* Estilos del nav en el encabezado */
    .header__nav {
        font-size: 15px;
        font-weight: 700;
        grid-area: header__nav;
        background-color: white;

        /* Estilos del menú en el nav */
        .header__menu {

            /* Estilos de los elementos del menú en el nav */
            .header__menu-item {

                /* Estilos de los enlaces del menú en el nav */
                .header__menu-link {
                    color: $LetraAzul;
                    transition: 100ms;

                    &:hover {
                        color: white;
                        display: inline-block;
                        padding: 10px 20px;
                        background-color: $FondoAzul;
                        border: none;
                        border-radius: 50px;
                    }
                }

                /* Estilos de los subelementos del menú en el nav */
                .header__menu-subitem {
                    color: $LetraAzul;
                    cursor: pointer;
                    padding-left: 10px;
                    position: relative;
                    background-color: white;
                }

                /* Estilos del efecto de resaltado en los subelementos del menú */
                .header__menu-subitem::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $LetraAzul;

                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 300ms ease-in;
                }

                .header__menu-subitem:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }
}

.header__mobile{
    display: none;
}

/* Estilos responsivos para pantallas medianas */
@media screen and (min-width: 767px) and (max-width: 1263px) {
    .header__mobile{
        display: none;
    }

    .header__desktop, .header__mobile {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "header__logo header__titulo"
            "header__nav header__nav";

        /* Alineación centrada del título en pantallas medianas */
        .header__titulo {
            text-align: center;
        }
    }
}

/* Estilos responsivos para pantallas pequeñas */
@media screen and (max-width: 767px) {

    .header__desktop{
        display: none;
    }

    .header__mobile {
        display: grid;
        padding-top: 2rem;
        grid-template-columns: 1fr auto;
        grid-template-areas:
            "header__nav header__logo";

        /* Ocultar título en pantallas pequeñas */
        .header__titulo {
            display: none;
        }

        /* Ajustes en el tamaño del logo en pantallas pequeñas */
        .header__logo {
            width: 120px;
            margin-top: 0;
        }

        .header__nav {
            font-size: 1rem;
            margin-left: 2rem;

            /* Estilos del nav en pantallas pequeñas */
            .navbar-toggler-icon {
                width: 2rem;
                height: 2rem;
            }

            .header__menu {
                .header__menu-item {

                    /* Estilos de los subelementos del menú en el nav en pantallas pequeñas */
                    .header__menu-subitem {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
