main{
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    grid-area: main;
    section{
        article{
            h2{
                padding: 15px;
            }

            p{
                margin-left: 15px;
            }
        }
    }
}
