main{
    padding-top: 100px;
    section{
        article{
            h2{
                padding: 15px;
            }

            p{
                margin-left: 15px;
            }
        }
    }
}
