main{
    .info_pagina{
        padding: 3rem 10rem;
        text-align: center;

        h1{
            color: $ColorTitulosInfoPag;
            margin-bottom: 1.5rem;
        }

        .info_intro{
            font-size: 1.3rem;
            margin-bottom: 2rem;
        }

        hr{
            border: 1.5px solid $ColorSeparadorIndex;
            border-radius: 5px;
            opacity: 1;
        }

        .btn-libros{
            background-color: $ColorBotonLibros;
            border:none;
            border-radius: 30px;
            font-weight: 700;
            padding: 1rem 3rem;
            font-size: 1.1rem;
            &:hover{
                background-color: $ColorBotonLibrosHover;
                }
        }
        


    }
}