main{
    .info_pagina{
        padding: 3rem 10rem;
        text-align: center;

        h1{
            color: $ColorTitulosInfoPag;
            margin-bottom: 1.5rem;
        }

        p{
            font-size: 1.3rem;
            margin-bottom: 2rem;
        }

        
        .enfasis_lenitas{
            font-size: 1.5rem;
            span{
                color: $ColorEnfasisLenitas1;
            }
        }

        .ultimo_lenitas{
            color: $ColorEnfasisLenitas2;
        }

        .advertencia_apuntes{
            background-color:$ColorFondoImportanteApuntes;
            border-radius: 25px;
            padding: 1rem;
            span{
                color: $colorImportanteApuntes;
            }
            a{
                text-decoration: none;
                color: $ColorLinkReglamentos;
                &:hover{
                    color:$ColorLinkReglamentosHover;
                }
            }
        }

        .nota{
            font-size: 1rem;
            font-weight: 200;
        }

        .btn-libros{
            background-color: $ColorBotonLibros;
            border:none;
            border-radius: 30px;
            font-weight: 700;
            padding: 1rem 3rem;
            font-size: 1.1rem;
            &:hover{
                background-color: $ColorBotonLibrosHover;
                }
        }

        .btn-recomendar-apuntes{
            background-color: $ColorBotonRecomendarApuntes;
            border:none;
            border-radius: 30px;
            font-weight: 700;
            padding: 1rem 3rem;
            font-size: 1.1rem;
            &:hover{
                background-color: $ColorBotonRecomendarApuntesHover;
                }
        }

        hr{
            border: 1.5px solid $ColorSeparadorIndex;
            border-radius: 5px;
            opacity: 1;
        }


    }
}