/* Estilos del main "En qué participo" */
.main__enqueparticipo{ 
    grid-area: main;
    
    /* Estilos de las secciones internas */
    .img__enqueparticipo {
        text-align: center;
        padding: 1rem 3rem;
    }

    /* Estilos de las imágenes */
    .main_hero {
        padding: 0;
    }

    .main_hero img {
        display: block;
        width: 100%;
    }
}

/* Estilos responsivos para pantallas pequeñas */
@media screen and (max-width: 767px) {
    .main__enqueparticipo{

        /* Ajustes en las secciones internas para pantallas pequeñas */
        section{
            text-align: center;
            padding: 0 3rem;
            font-size: 0.7rem;
        }
        
        /* Ajustes en el ancho máximo de las imágenes para pantallas pequeñas */
        img{
            max-width: auto;
        }
    }
}