/* Estilos de la página "¿Qué es OMA?" */
.main__queesoma {
    display: flex;
    flex-direction: column;
    color: white;
    grid-area: main;

    /* Estilos de las secciones internas */
    section {
        display: flex;
        padding: 2rem;
        align-items: center;


        /* Estilos del título h2 */
        h2 {
            width: 35%;
            text-align: right;
            margin-right: 2rem;
        }

        /* Estilos del subtítulo h3 */
        h3 {
            font-size: 1.5rem;
        }

        /* Estilos de la última sección */
        .section-especial {
            display: flex;
            flex-direction: column;
            width: 35%;
            align-items: left;

            h2 {
                width: auto;
            }

            /* Estilos del botón */
            .btn {
                align-self: flex-end;
                width: 12rem;
                margin-right: 2rem;
            }

        }


        /* Estilos de los párrafos */
        .parrafos {
            width: 65%;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            text-align: justify;
            color: black;

        }


    }

    .hr_1{
        border: 1px solid $bgCol1;
        opacity: 1;

    }
    .hr_2{
        border: 1px solid $bgCol2;
        opacity: 1;

    }
    .hr_3{
        border: 1px solid $bgCol3;
        opacity: 1;

    }

    /* Bucle for para asignar colores de fondo a las secciones internas */
    @for $i from 1 through 3 {
        .section-#{$i} {
            color: map-get($bgColors, $i);
        }
    }
}

/* Estilos responsivos para pantallas medianas */
@media screen and (min-width: 767px) and (max-width: 1263px) {
    .main__queesoma {

        section {

            /* Ajustes en el tamaño del título h2 para pantallas medianas */
            h2 {
                font-size: 1.5rem;
            }

            /* Ajustes en el tamaño del subtítulo h3 para pantallas medianas */
            h3 {
                font-size: 1.2rem;
            }
        }
    }
}

/* Estilos responsivos para pantallas pequeñas (max-width: 767px) */
@media screen and (max-width: 767px) {
    .main__queesoma {

        section {
            background-color: red;
            display: flex;
            flex-direction: column;
            width: 80%;
            padding: 0;

            /* Ajustes en la última sección para pantallas pequeñas */
            .section-especial {
                width: 100%;

                h2 {
                    padding-bottom: 0;
                    padding: 1rem 1rem;

                }

                /* Estilos del botón */
                // .btn {
                //     margin-bottom: 1rem;
                // }
            }

            /* Ajustes en el tamaño del título h2 para pantallas pequeñas */
            h2 {
                width: 90%;
                padding: 1rem 1rem;

            }

            /* Ajustes en el tamaño del subtítulo h3 para pantallas pequeñas */
            h3 {
                padding-top: 1rem;
                font-size: 1.3rem;
            }

            .parrafos {
                padding: 0;
                width: 80%;

                p{
                    display: flex;
                    text-align: left;
                    color: red;
                }

            }
        }
    }
}