/* Estilos del main competencias */
.main__competencias {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Estilos de cada sección de competencia */
    .main__section-competencia {
        width: 80%;
        margin-top: 7rem;
        display: flex;
        text-align: center;
        align-items: center;

        /* Estilos de las imagenes en la sección de competencia */
        img {
            width: 20rem;
            margin-right: 4rem;
            
        }
        .logo_cabezon{
                padding: 3rem;
            }

        /* Estilos del título y la descripción de cada una de las competencias */
        .main__section_titulo-descripcion {
            display: flex;
            flex-direction: column;
            width: 25rem;
            text-align: justify;
            width: 100%;

            /* Estilos del título de cada una de las competencias */
            h2 {
                padding-top: 2rem;
            }

            .botones_competencias{
                display: flex;
                justify-content: flex-end;


            }

            /* Estilos de los botones en la sección de competencia */
            .btn {
                margin-top: 1rem;
                margin-left: 2rem;
                padding: 0.5rem 2rem;
                background-color: $ColorBotonCompetencias;
                border: none;


                /* Estilos del enlace dentro del botón */
                a {
                    text-decoration: none;
                    color: white;
                }
            &:hover{
                background-color: $ColorBotonCompetenciasHover;
            }
            }
        }
    }

    /* Ajustes de margen para la primera y última sección de competencia */
    .main__section-competencia:first-child {
        margin-top: 3rem;
    }

    .main__section-competencia:last-child {
        margin-bottom: 3rem;
    }
}

/* Estilos responsivos para pantallas pequeñas */
@media screen and (max-width: 869px) {
    .main__competencias {
        /* Ajustes en la dirección de flexión para las secciones de competencia */
        .main__section-competencia {
            flex-direction: column;
            margin-top: 3rem;

            img{
                width: 15rem;
                margin-right: 0;
            }
        }
    }
}

/* Estilos responsivos para pantallas pequeñas */
@media screen and (max-width: 568px) {
    .main__competencias {
        /* Ajustes en la dirección de flexión para las secciones de competencia */
        .main__section-competencia {
            flex-direction: column;

            img{
                width: 45%;
                margin-right: 0;
            }

            .main__section_titulo-descripcion {
                width: 80%;
            }
        }
    }
}
