/* Estilos del main apuntes */
.main__apuntes {
    grid-area: main;
    text-align: center;



    section {
        h2 {
            padding: 2rem 0;
        }
        
        /* Estilos para las cards de cada apunte */
        .container-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .card {
                width: 18rem;
                margin: 0.5rem;
            }
        }
    }
}