/* Estilos del main apuntes */
.main__apuntes {
    grid-area: main;
    text-align: center;



    .pdf__links {

        margin: 0 12rem;

        h2 {
            display: flex;
            justify-content: left;
            padding-top: 3rem;
            padding-left: 1rem;
        }

        p {
            padding-left: 1rem;
            display: flex;
            justify-content: left;
            text-align: left;

        }

        /* Estilos para las cards de cada apunte */
        .container-cards {
            border-radius: 25px;

            .card {
                display: flex;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas:"card-body card-link";
                background-color: #00000000;
                border: none;

                .card-body {
                    flex: 1;
                }
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;

                    button{
                        color: white;
                        background-color: $ColorBotonLibros;
                        border:none;
                        border-radius: 5px;
                        font-weight: 700;
                        padding:0.5rem 3rem;
                        font-size: 0.8rem;
                        &:hover{
                            background-color: $ColorBotonLibrosHover;
                            }
                        }
                }
                

            }

        }

        .card_1 {
            background-color: $ColorCard1;

            h5 {
                text-align: left;
                color: $ColorCard1Titulo;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }

        .card_2 {
            background-color: $ColorCard2;

            h5 {
                text-align: left;
                color: $ColorCard2Titulo;
                font-size: 1.5rem;
                font-weight: 700;
            }



        }


    }

}


