/* Estilos de la página principal */

.main__index{
    padding-bottom: 3rem;
    text-align: center;
    grid-area: main;
    width: auto;



    /* Estilos de la sección de iconos */
    .main__iconos {
        margin: 0 10rem;
        margin-bottom: 5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 2fr 2fr;
        grid-template-areas:
            "main__iconos-titulo main__iconos-titulo main__iconos-titulo main__iconos-titulo"

            "main__iconos-logomateclubes main__iconos-logonandu main__iconos-logolym main__iconos-logotorngeoeimag"

            "main__iconos-logointernacionales main__iconos-logoolimmayo main__iconos-logocanguro main__iconos-logoolimpri";

            h2{
                margin-bottom: 5rem;
            } 
        /* Estilos de los enlaces */
        a {
            img {
                width: 15rem;
            }
            &:hover{
                    opacity: 0.5;
                }

        }

        /* Estilos del título de los iconos */
        .main__iconos-titulo {
            grid-area: main__iconos-titulo;
        }

        /* Definición de las áres de los iconos */
        .main__iconos-logomateclubes {
            grid-area: main__iconos-logomateclubes;
        }

        .main__iconos-logonandu {
            grid-area: main__iconos-logonandu;
        }

        .main__iconos-logolym {
            grid-area: main__iconos-logolym;
        }

        .main__iconos-logotorngeoeimag {
            grid-area: main__iconos-logotorngeoeimag;
        }

        .main__iconos-logointernacionales {
            grid-area: main__iconos-logointernacionales;
        }

        .main__iconos-logoolimmayo {
            grid-area: main__iconos-logoolimmayo;
        }

        .main__iconos-logocanguro {
            grid-area: main__iconos-logocanguro;
        }

        .main__iconos-logoolimpri {
            grid-area: main__iconos-logoolimpri;
        }
    }
}

/* Estilos responsivos para pantallas medianas */
@media screen and (max-width: 800px) {
    .main__index {

        /* Ajustes en la disposición de los iconos para pantallas medianas */
        .main__iconos {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto repeat(2, 1fr);
            grid-template-areas:
                "main__iconos-titulo main__iconos-titulo main__iconos-titulo main__iconos-titulo"

                "main__iconos-logomateclubes main__iconos-logonandu main__iconos-logolym main__iconos-logotorngeoeimag"

                "main__iconos-logointernacionales main__iconos-logoolimmayo main__iconos-logocanguro main__iconos-logoolimpri";

            /* Ajustes en el ancho de las imágenes de los iconos para pantallas pequeñas */
            a {
                img {
                    width: 130px;
                }
            }
        }
    }
}

/* Estilos responsivos para pantallas más pequeñas */
@media screen and (max-width: 550px) {
    .main__index {
        /* Ajustes en la disposición de los iconos para pantallas más pequeñas */
        .main__iconos {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto repeat(4, 1fr);
            grid-template-areas:
                "main__iconos-titulo main__iconos-titulo"

                "main__iconos-logomateclubes main__iconos-logonandu"

                "main__iconos-logolym main__iconos-logotorngeoeimag"

                "main__iconos-logointernacionales main__iconos-logoolimmayo"

                "main__iconos-logocanguro main__iconos-logoolimpri";

            /* Ajustes en el ancho de las imágenes de los iconos para pantallas más pequeñas */
            a {
                img {
                    width: 170px;
                }
            }
        }
    }
}

/* Estilos responsivos para pantallas aún más pequeñas */
@media screen and (max-width: 349px) {
    .main__index {
        /* Ajustes en la disposición de los iconos para pantallas aún más pequeñas */
        .main__iconos {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto repeat(4, 2fr);
            grid-template-areas:
                "main__iconos-titulo main__iconos-titulo"

                "main__iconos-logomateclubes main__iconos-logonandu"

                "main__iconos-logolym main__iconos-logotorngeoeimag"

                "main__iconos-logointernacionales main__iconos-logoolimmayo"

                "main__iconos-logocanguro main__iconos-logoolimpri";

            /* Ajustes en el ancho de las imágenes de los iconos para pantallas aún más pequeñas */
            a {
                img {
                    width: 145px;
                }
            }
        }
    }
}