/* Estilos del main competencias */
.main__libros {
    grid-area: main;
    
    /* Estilos de los párrafos */
    .compra__libros {
        padding-top: 3rem;
        text-align: center;

        h1 {
            font-size: 2rem;
            padding-bottom: 1rem;
        }

        p {
            padding: 0 3rem;
        }        

        a {
            padding: auto;
        }
    }

    text-align: center;

    /* Estilos de cada sección */
    section {
        h2 {
            padding: 2rem 0;
        }
        
        /* Estilos de todas las cards con portadas de libros */
        .container-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .card {
                width: 20rem;
                margin: 2rem;
                .card-body{
                    input{
                        margin: 10px;
                    }
                }
            }
        }
    }

    .table{
        margin-top: 3rem;
    }

    .boton-eliminar {
        margin-bottom: 3rem;
        margin-right: 3rem;
    } 

    .boton-finalizar {
        margin-bottom: 3rem;
        margin-left: 3rem;
    } 
}