/* Estilos de la página "Secretarias Córdoba" */
.main__secretariascordoba {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: main;
    width: 100%;

    /* Estilos del acordeón */
    .accordion {
        width: 50%;
    }

    .iframe{
        margin: 5rem 0;
        width: 50%;
        height: 30rem;

        iframe{
            width: 100%;
            height: 100%;
        }
    }
}

/* Estilos responsivos para pantallas pequeñas */
@media screen and (max-width: 767px) {
    .main__secretariascordoba {

        /* Ajustes en el ancho del acordeón para pantallas pequeñas */
        .accordion {
            width: 80%;
        }

        .iframe{
            margin: 5rem 0;
            width: 80%;
            height: 20rem;
        }
    }
}