/* Estilos del main leñitas */
.main__lenitas {
    grid-area: main;

    /* Estilos generales de cada lista de leñitas de cada año */
    .lista-lenitas {
        margin: 4rem 0;
        display: flex;
        flex-direction: column;
        text-align: center;


        .color-year {
            margin-bottom: 1rem;
            font-weight: 900;
            width: 80%;
            align-self: center;
            text-align: left;
            font-size: 2.5rem;
        }

        div {
            ol {
                display: grid;
                grid-template-columns: repeat(3, minmax(18rem, 1fr));
                justify-items: start;
                gap: 10px;

                text-align: center;
                margin: 0 10%;
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: black;

                    li {
                        font-size: 1.5rem;

                        .color-numero {
                            font-weight: 900;
                        }
                    }
                }

            }
        }
    }

    /* Estilos leñitas del 2019 */
    .main__lista-lenitas-2019 {
        @extend .lista-lenitas;

        .color-year {
            color: $LetraYear1;
        }

        div {
            ol {
                a {
                    li {

                        .color-numero {
                            color: $LetraNumero1;
                        }
                    }
                }
            }
        }
    }

    /* Estilos leñitas del 2020 */
    .main__lista-lenitas-2020 {
        @extend .lista-lenitas;

        .color-year {
            color: $LetraYear3;
        }

        div {
            ol {
                a {
                    li {

                        .color-numero {
                            color: $LetraNumero3;
                        }
                    }
                }
            }
        }
    }

    /* Estilos leñitas del 2021 */
    .main__lista-lenitas-2021 {
        @extend .lista-lenitas;

        .color-year {
            color: $LetraYear2;
        }

        div {
            ol {
                a {
                    li {

                        .color-numero {
                            color: $LetraNumero2;
                        }
                    }
                }
            }
        }
    }

    /* Estilos leñitas del 2022 */
    .main__lista-lenitas-2022 {
        @extend .lista-lenitas;

        .color-year {
            color: $LetraYear1;
        }

        div {
            ol {
                a {
                    li {
                        .color-numero {
                            color: $LetraNumero1;
                        }
                    }
                }
            }
        }
    }

    /* Estilos leñitas del 2023 */
    .main__lista-lenitas-2023 {
        @extend .lista-lenitas;


        .color-year {
            color: $LetraYear3;
        }

        div {
            ol {
                a {
                    li {
                        .color-numero {
                            color: $LetraNumero3;
                        }
                    }
                }
            }
        }
    }
}

    /* Estilos leñitas del 2024 */
    .main__lista-lenitas-2024 {
        @extend .lista-lenitas;
        margin-bottom: 10rem;

        .color-year {
            color: $LetraYear2;
        }

        div {
            ol {
                a {
                    li {
                        .color-numero {
                            color: $LetraNumero2;
                        }
                    }
                }
            }
        }
    }

    /* Estilos leñitas del 2025 */
    .main__lista-lenitas-2025 {
        @extend .lista-lenitas;
        margin-bottom: 10rem;

        .color-year {
            color: $LetraYear1;
        }

        div {
            ol {
                a {
                    li {
                        .color-numero {
                            color: $LetraNumero1;
                        }
                    }
                }
            }
        }
    }


/* Estilos responsivos para pantallas medianas */
@media (max-width: 900px) {
    .main__lenitas {
        .lista-lenitas {
            div {
                ol {
                    grid-template-columns: repeat(2, minmax(18rem, 1fr));
                }
            }
        }
    }
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 568px) {
    .main__lenitas {
        .main__textos {
            font-size: 1rem;
            padding: 0;

            h1 {
                font-size: 1.5rem;
                padding: 1rem 0;
                padding-top: 3rem;
            }

            h2 {
                padding: 1rem;
            }

            p {
                padding: 1rem 1.5rem;
            }

            .ultimo {
                padding-bottom: 0;
            }

        }

        .lista-lenitas {
            margin: 2rem 0;

            .color-year {
                text-align: center;
                padding-bottom: 1rem;
            }

            div {
                ol {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }
            }
        }
    }
}