/* Estilos de la página "¿Qué es OMA?" */
.main__queesoma {
    display: flex;
    flex-direction: column;
    color: white;
    grid-area: main;

    /* Estilos de las secciones internas */
    section {
        display: flex;
        padding: 2rem;
        align-items: center;

        /* Estilos del título h2 */
        h2 {
            width: 35%;
            text-align: center;
        }

        /* Estilos del subtítulo h3 */
        h3 {
            font-size: 1.5rem;
        }

        /* Estilos de la última sección */
        .section-especial {
            display: flex;
            flex-direction: column;
            width: 35%;
            align-items: center;

            h2 {
                width: auto;
            }

            /* Estilos del botón */
            .btn {
                width: auto;
            }
        }

        /* Estilos de los párrafos */
        .parrafos {
            width: 65%;
            display: flex;
            flex-direction: column;
            padding: 10px;

        }
    }

    /* Bucle for para asignar colores de fondo a las secciones internas */
    @for $i from 1 through 3 {
        .section-#{$i} {
            background-color: map-get($bgColors, $i);
        }
    }
}

/* Estilos responsivos para pantallas medianas */
@media screen and (min-width: 767px) and (max-width: 1263px) {
    .main__queesoma {

        section {

            /* Ajustes en el tamaño del título h2 para pantallas medianas */
            h2 {
                font-size: 1.5rem;
            }

            /* Ajustes en el tamaño del subtítulo h3 para pantallas medianas */
            h3 {
                font-size: 1.2rem;
            }
        }
    }
}

/* Estilos responsivos para pantallas pequeñas (max-width: 767px) */
@media screen and (max-width: 767px) {
    .main__queesoma {

        section {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0;

            /* Ajustes en la última sección para pantallas pequeñas */
            .section-especial {
                width: 100%;

                h2 {
                    padding-bottom: 0;

                }

                /* Estilos del botón */
                .btn {
                    margin-bottom: 1rem;
                }
            }

            /* Ajustes en el tamaño del título h2 para pantallas pequeñas */
            h2 {
                width: 90%;
                padding: 1rem 0;

            }

            /* Ajustes en el tamaño del subtítulo h3 para pantallas pequeñas */
            h3 {
                padding-top: 1rem;
                font-size: 1.3rem;
            }

            .parrafos {
                padding: 0;
                width: 80%;
                text-align: center;
            }
        }
    }
}