/* Estilos de la página "Secretarias Córdoba" */
.main__secretariascordoba {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Estilos del acordeón */
    .accordion {
        width: 50vw;
    }

    section{
        article{
            iframe{
                margin: 5rem 0;
                width: 70vw;
                height: 86vh;
            }
        }        
    }
}

/* Estilos responsivos para pantallas pequeñas */
@media screen and (max-width: 767px) {
    .main__secretariascordoba {

        /* Ajustes en el ancho del acordeón para pantallas pequeñas */
        .accordion {
            width: 80vw;
        }
    
        section{
            article{
                iframe{
                    width: 80vw;
                    height: 70vh;
                }
            }        
        }
    }
}

