.main__apuntes {
    .parrafos {
        padding-top: 3rem;
        text-align: center;

        h1 {
            font-size: 2rem;
            padding-bottom: 1rem;
        }

        p {
            padding: 0 3rem;
        }

        .especial {
            color: red;

            span {
                font-weight: 700;
            }
        }
    }

    text-align: center;

    section {
        h2 {
            padding: 2rem 0;
        }
        
        .container-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .card {
                width: 18rem;
                margin: 0.5rem;
            }
        }

        
    }
}