main{
    .noticias{
        margin-bottom: 10rem;

        img{
            width: 20rem;
        }

        article{
            padding: 0;
            margin: 0 15rem;
            .noticias_titulo{
                color: $ColorTituloNoticia;
                margin-bottom: 1.5rem;
                font-size: 1.8rem;
            }
            .noticias_texto{
                margin-bottom: 4rem;
                font-size: 1.2rem;

            }

            hr{
            border: 1px solid $ColorSeparadorIndex;
            border-radius: 5px;
            opacity: 1;
        }
        }
    }
}