/* Definición de variables de color */
$LetraAzul: #0096DA;

$LetraLenitas: #90278F;

$LetraYear1: #D43377;
$LetraNumero1: #EB79A9;

$LetraYear2: #5590ff;
$LetraNumero2: #729ae9;

$LetraYear3: #ffa352;
$LetraNumero3: #e7a66e;

$FondoAzul: #006794;

$BotonEnviar: #FFB800;

$bgCol1: #0096DA;

$bgCol2: #006794;

$bgCol3: #012A3D;

/* Gradiente para el fondo del footer */
$GradienteFooter: linear-gradient(90deg, #012a3d, #016794, #0096db, #3f87a6);



