/* Definición de variables de color */
$ColorTitulosInfoPag: #0096DA;

$ColorSeparadorIndex:#006794;

$ColorBotonLibros:#FFB800;
$ColorBotonLibrosHover:#ffd48f;

$LetraAzul: #0096DA;

// Noticias:
$ColorTituloNoticia:#006794;

// Apuntes:
$colorImportanteApuntes:#D43377;
$ColorFondoImportanteApuntes:#f6f6f6;
$ColorLinkReglamentos:#0096DA;
$ColorLinkReglamentosHover:#8dbdeb;

$ColorCard1:#e0f0ff;
$ColorCard2:#ffeff6;

$ColorCard1Titulo:#0096DA;
$ColorCard2Titulo:#D43377;

// Leñitas:
$ColorEnfasisLenitas1: #90278F;
$ColorEnfasisLenitas2: #ff751f;

$LetraYear1: #D43377;
$LetraNumero1: #EB79A9;

$LetraYear2: #5590ff;
$LetraNumero2: #729ae9;

$LetraYear3: #ffa352;
$LetraNumero3: #e7a66e;

$FondoAzul: #006794;

$BotonEnviar: #FFB800;

//Competencias:

$ColorBotonCompetencias:#1a4789;
$ColorBotonCompetenciasHover:#5d83bb;


// Que es OMA

$bgCol1: #0096DA;

$bgCol2:#faa48a;

$bgCol3: #D43377;

/* Gradiente para el fondo del footer */
$GradienteFooter: linear-gradient(90deg, #012a3d, #016794, #0096db, #3f87a6);

/* Mapa de colores */
$bgColors: (
    1: $bgCol1,
    2: $bgCol2,
    3: $bgCol3
);

