@import "var";
@import "body";
@import "header";
@import "footer";

@import "menu-index";
@import "menu-apuntes";
@import "menu-competencias";
@import "menu-enqueparticipo";
@import "menu-festivales";
@import "menu-lenitas";
@import "menu-libros";
@import "menu-queesoma";
@import "menu-secretariascordoba";
@import "menu-contactos";
@import "cambios-final";
@import "info-pagina";
@import "hero";