@use "var";
@use "body";
@use "header";
@use "footer";

@use "menu-index";
@use "menu-apuntes";
@use "menu-competencias";
@use "menu-enqueparticipo";
@use "menu-festivales";
@use "menu-lenitas";
@use "menu-libros";
@use "menu-queesoma";
@use "menu-secretariascordoba";
@use "menu-contactos";
@use "cambios-final"
